@charset "utf-8";

.util_menu{width: 980px;margin: 0 auto;height: 25px;}
.util_menu>ul{float: right;}
.util_menu>ul>li{float: left;position: relative;}
.util_menu>ul>li:last-child a{padding-right: 0;}
/*.util_menu>ul>li:nth-child(2){padding-right: 25px;}*/
.util_menu ul li a{color: #898989;padding:0 15px;}
.util_menu ul li:after{content: "";display: block;width: 1px;height: 15px;background: #9b9b9b;position: absolute;top:5px;}
.util_menu ul li:first-child:after{display:none;content: "";}
.util_menu_wrap{height: 25px;}

h1{text-align: center;border-top: 1px solid #000;height: 100px;padding-top: 25px;}

.main_menu_wrap{background: #1d5da4;}
.main_menu{width: 980px;margin: 0 auto;}
.main_menu>ul>li{float: left;width:163.33px;height: 50px;padding-top: 15px;border-left: 1px solid #000;text-align: center;}
.main_menu>ul>li:last-child{border-right: 1px solid #000;}
.main_menu>ul>li>a{color: white;}
.main_menu>ul>li>a:hover{color: orange;}

.visual_wrap{height: 400px;background-image: url("../images/01himedia.jpg");
             background-position: center;background-repeat: no-repeat;}
.visual{width: 980px;height: 400px;margin: 0 auto;position: relative;overflow:hidden; }
.visual_txt{position: absolute;left: 0px;top: 75px;}
.visual_img{position: absolute;right: 0;top: 49px;}

.list_menu_wrap{background: #eeeeee;height: 196px;}
.list_menu{width: 980px;margin: 0 auto;}
.list_menu ul li{float: left;width: 196px;text-align: center;height: 196px;border-right: 1px solid #000;}
.list_menu ul li:first-child{border-left: 1px solid #000;}
.list_menu ul li h3{text-align: center;padding-top: 15px;}
.list_menu ul li #txt{font-size:13px;}
.list_menu ul li img{margin: 0 auto;padding-top: 15px;}
.list_menu ul .list1{background: #7c99b9;}
.list_menu ul .list2{background: #4f74a1;}
.list_menu ul .list3{background: #4b8ce0;}
.list_menu ul .list4{background: #3db5f2;}
.list_menu ul .list5{background: #95c8ff;}

.content_menu_wrap{background: #fff;height: 569px;margin-top: 50px;}
.content_menu_wrap .content_menu{width: 980px;margin: 0 auto;}
.content01 ul li{float: left;margin-right: 25px;}
.content01 ul li:last-child{margin-right: 0;}
.content01 ul li .content_txt01{border:1px solid #eeeeee;border-top: none;width: 310px;height: 102px;}
.content01 ul li .content_txt01 p{font-size: 12px;color: #a3a3a3;padding-left: 14px;}
.content01 ul li .content_txt02 p{font-size: 12px;color: #a3a3a3;padding-left: 14px;}
.content01 ul li .content_txt03 p{font-size: 12px;color: #a3a3a3;padding-left: 14px;}
.content01 ul li .content_txt01 h3{padding:15px 0px 8px 14px;}
.content01 ul li .content_txt02 h3{padding:15px 0px 8px 14px;}
.content01 ul li .content_txt03 h3{padding:15px 0px 8px 14px;}
.content01 ul li .content_txt02{border:1px solid #eeeeee;border-top: none;width: 310px;height: 102px;}
.content01 ul li .content_txt03{border:1px solid #eeeeee;border-top: none;width: 310px;height: 102px;}
.content02 ul li{float: left;width: 310px;height: 164px;border: 1px solid #eeeeee;margin-right: 25px;position: relative;}
.content02 ul li:last-child{margin-right: 0;}
.content02 ul li img{position: absolute;top:4px;left:134px;}
.content02{margin-top: 20px;}
.content02 ul li .content2_txt01 h3{padding:15px 0px 8px 14px;}
.content02 ul li .content2_txt02 h3{padding:15px 0px 8px 14px;}
.content02 ul li .content2_txt03 h3{padding:15px 0px 8px 14px;}
.content02 ul li .content2_txt01 p{font-size: 12px;color: #a3a3a3;padding-left: 14px;margin-bottom:8px;}
.content02 ul li .content2_txt02 p{font-size: 12px;color: #a3a3a3;padding-left: 14px;margin-bottom:8px;}
.content02 ul li .content2_txt03 p{font-size: 12px;color: #a3a3a3;padding-left: 14px;margin-bottom:8px;}
.content02 ul li .content2_txt01 a{color: skyblue;font-size: 12px;padding-left: 14px;}
.content02 ul li .content2_txt02 a{color: skyblue;font-size: 12px;padding-left: 14px;}
.content02 ul li .content2_txt03 a{color: skyblue;font-size: 12px;padding-left: 14px;}

.footer_wrap{}
.footer_wrap .footer01{background: #4d4d4d;height: 43px;}
.footer_wrap .footer01 .footer01_txt{width: 980px;margin: 0 auto;}
.footer_wrap .footer01 .footer01_txt ul{}
.footer_wrap .footer01 .footer01_txt ul li{float: left;font-weight: bold;position: relative;}
.footer_wrap .footer01 .footer01_txt ul li a{line-height: 40px;right: 0;padding: 0 20px;}
.footer_wrap .footer01 .footer01_txt ul li:first-child a{padding-left: 0;}
.footer_wrap .footer01 .footer01_txt ul li:after{content: "";display: block;width: 1px;height: 20px;background:#cccccc;position: absolute;top: 10px;left: 1px;}
.footer_wrap .footer01 .footer01_txt ul li:first-child:after{display: none;content: "";}
.footer_wrap .footer01 .footer01_txt ul li a{color:#cccccc}
.footer_wrap .footer02{background: #5e5e5e;height: 104px;}
.footer_wrap .footer02 .footer02_txt{width: 980px;margin:0 auto;}
.footer_wrap .footer02 .footer02_txt h2{float: left;width: 120px;color: white;padding-top: 33px;margin-right: 76px;}
.footer_wrap .footer02 .footer02_txt .footer_tp{float: left;width: 750px;}
.footer_wrap .footer02 .footer02_txt .footer_tp h4{color:#a6a6a6;padding-top: 8px;padding-bottom: 5px;}
.footer_wrap .footer02 .footer02_txt .footer_tp p{color:#a6a6a6;font-size: 13px;}






