@charset "utf-8";

*{margin: 0;padding: 0;box-sizing: border-box;}
a:link,a:visited{color: #000;text-decoration: none;}
ul{list-style: none;}
.clearfix:after{clear: both;content: "";display: block;}

.util_menu_wrap{border-bottom: 1px solid #ccc;margin-bottom: 10px;}
.util_menu{margin: 0 auto;width: 980px;/*background: red;*/}
ul.menu{margin-left:auto;width: 250px;/*background: skyblue;*/}
ul.menu>li{float: left;padding-right: 10px;}
header h1{text-align: center;}



.main_menu_wrap{background: skyblue;}
.main_menu{width: 980px;margin:0 auto;background: red;}

ul.m_menu{margin: 0 auto;background: blue;}
ul.m_menu>li{float: left;width:163.33px;text-align: center;}
ul.m_menu li a{color: white;}
